<main class="form-screen">
  <a routerLink="/login" class="btn-link btn-link--static">Login</a>

  <figure class="logo">
    <img src="assets/logo.svg" alt="links logo" class="logo__img" />
  </figure>

  <form class="form">
    <h2 class="form__title">Signup</h2>

    <div class="form__control">
      <label class="form__label">Full name</label>
      <input type="text" class="form__input" placeholder="Enter full name" />
    </div>

    <div class="form__control">
      <label class="form__label">Your Email</label>
      <input type="email" class="form__input" placeholder="Enter email" />
    </div>

    <div class="form__control">
      <label class="form__label">Password</label>
      <input type="password" class="form__input" placeholder="***********" />
    </div>

    <div class="form__control">
      <button class="form__btn">Signup</button>
    </div>
  </form>
</main>
