<main class="form-screen">
  <a routerLink="/signup" class="btn-link btn-link--static">Signup</a>

  <figure class="logo">
    <img src="assets/logo.svg" alt="links logo" class="logo__img" />
  </figure>

  <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
    <h2 class="form__title">Login</h2>

    <div class="form__control">
      <label class="form__label">Your Email</label>
      <input
        type="email"
        class="form__input"
        placeholder="Enter email"
        formControlName="email"
      />
    </div>

    <div class="form__control">
      <label class="form__label">Password</label>
      <input
        type="password"
        class="form__input"
        placeholder="***********"
        formControlName="password"
      />
    </div>

    <div class="form__control">
      <button
        class="form__btn"
        [disabled]="!loginForm.valid"
        [class.form__btn--disabled]="!loginForm.valid"
      >
        Login
      </button>
    </div>
  </form>
</main>
