<main class="dashboard">
  <button class="btn-link btn-link--static" (click)="logout()">Logout</button>

  <figure class="logo">
    <img src="assets/logo.svg" alt="links logo" class="logo__img" />
  </figure>

  <div class="dashboard-content">
    <figure class="user-info">
      <img
        [src]="user?.avatar || defaultAvatar"
        class="user-info__img"
        alt="user avatar"
      />
      <figcaption class="user-info__details">
        <span class="user-info__name">{{ user?.name || "" }}</span>
        <span class="user-info__email">{{ user?.email || "" }}</span>
      </figcaption>
    </figure>

    <section class="user-links">
      <form
        class="dashboard-form"
        [formGroup]="linksForm"
        (ngSubmit)="registerLink()"
      >
        <div class="dashboard-form__control">
          <label class="dashboard-form__label">Url To Save</label>
          <input
            type="url"
            class="dashboard-form__input"
            placeholder="Enter a URL"
            formControlName="url"
          />
        </div>

        <div class="dashboard-form__control">
          <label class="dashboard-form__label">Name of Url</label>
          <input
            type="text"
            class="dashboard-form__input"
            placeholder="Enter URL name"
            formControlName="name"
          />
        </div>

        <div class="dashboard-form__control">
          <button
            class="dashboard-form__btn"
            [class.dashboard-form__btn--disabled]="!linksForm.valid"
            [disabled]="!linksForm.valid"
          >
            Add
          </button>
        </div>
      </form>

      <div class="link-card" *ngFor="let link of links">
        <h2 class="link-card__header">{{ link.url }}</h2>
        <p class="link-card__content">{{ link.name }}</p>
        <button class="link-card__btn-delete" (click)="deleteLink(link.id)">
          <img src="assets/trash.png" alt="trash icon" />
        </button>
      </div>
    </section>
  </div>
</main>
